*,
*::after,*::before{
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  list-style: none;
}

header {

}

main{
  width: 95%;
  margin: 0 auto;


 }
 img{
   width: 100%;
 }
.header_text-container{
  width: 40%;
  padding-top: 5rem;
  margin: auto 1rem;

}
.navbar{
  background: transparent;
  border: 0;
}

.main_section-flex {

  padding: 1rem 0;
}
.jumbotron{
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 0;
}

.font-m {
  font-size: 1rem;
  color: ;
}

.font-l {
  font-size: 2rem;
  color: grey;
  font-weight: 800;
  font-family: 'Fjalla One', sans-serif;
}

.font-xxl {
  font-size: 3rem;
  color: ;
  font-weight: 800;
}
.BeingTheBest{
  background-image: url("../images/best.jpg");
  background-size: cover;
  color: white;
  height: 40rem;
}
.about-body-background{
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 0;
}
